<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchaseway Animes</title>
    <link rel="stylesheet" href="css/index.css"
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="resources/img/Logo - Purchaseway Animes.png" type="image/x-icon">
</head>
<body>

    <header class="cabecalho">
        <!-- Logo -->
        <a href="index.html">
            <div class="logo-oficial">Pw Animes</div>
        </a>
        <nav>
            <ul>
                <li><a href="index.html">Início</a></li>
                <li><a href="#">Lista de Animes</a></li>
                <li><a href="#">Favoritos</a></li>
                <li><a href="#">Mangás</a></li>
                <li><a href="#">Calendário</a></li>
                <li><a href="#">Como Assistir?</a></li>
            </ul>
            <!-- Menu para versão Mobile -->
            <button class="abrir-menu">
                <div></div>
                <div></div>
                <div></div>
            </button>
        </nav>
    </header>

        <section class="lista-animes">
        
            <!-- Maid Dragon -->
            <article>
                <a href="resources/pages/maid-dragon.html">
                    <img src="resources/img/kobayashi-san-chi-no-maid-dragon-capa.jpg" alt="Capa - Maid Dragon">
                    <h1>Kobayashi-san Chi no Maid Dragon Dublado</h1>
                </a>
            </article>

            <!-- Akame ga kill! -->
            <article>
                <a href="resources/pages/akame-ga-kill.html">
                    <img src="resources/img/akame-ga-kill-capa.jpg" alt="Capa - Maid Dragon">
                    <h1>Akame ga Kill! Dublado</h1>
                </a>
            </article>

            <!-- Darling In The FranXX -->
            <article>
                <a href="resources/pages/darling-in-the-franxx.html">
                    <img src="resources/img/darling-in-the-franxx-capa.jpg" alt="Capa - Maid Dragon">
                    <h1>Darling In The FranXX Dublado</h1>
                </a>
            </article>

            <!-- Shin no Nakama ja Nai to Yuusha no Party wo Oidasareta node -->
            <article>
                <a href="resources/pages/shin-no-nakama.html">
                    <img src="resources/img/shin-no-nakama-ja-nai-to-yuusha-no-party-wo-oidasareta-node-capa.jpg" alt="Capa - Maid Dragon">
                    <h1>Shin no Nakama ja Nai to Yuusha no Party wo Oidasareta node Dublado</h1>
                </a>
            </article>

            <!-- Spy x Family Dublado -->
            <article>
                <a href="resources/pages/spy-x-family.html">
                    <img src="resources/img/spy-x-family-capa.jpg" alt="Capa - Maid Dragon">
                    <h1>Spy x Family Dublado</h1>
                </a>
            </article>

            <!-- Majo no Tabitabi -->
            <article>
                <a href="resources/pages/majo-no-tabitabi.html">
                    <img src="resources/img/majo-no-tabitabi-capa.jpg" alt="Capa - Majo no Tabitabi">
                    <h1>Majo no Tabitabi Dublado</h1>
                </a>
            </article>

            <!-- Ijiranaide, Nagatoro-san -->
            <article>
                <a href="resources/pages/ijiranaide-nagatoro.html">
                    <img src="resources/img/ijiranaide-nagatoro-san-capa.jpg" alt="Capa - Nagatoro">
                    <h1>Ijiranaide, Nagatoro-san Dublado</h1>
                </a>
            </article>

            <!-- Kimi no Na wa -->
            <article>
                <a href="resources/pages/kimi-no-na-wa.html">
                    <img src="resources/img/kimi-no-na-wa-capa.jpg" alt="Capa - Nagatoro">
                    <h1>Kimi no Na wa Dublado</h1>
                </a>
            </article>

            <!-- Date A Live -->
            <article>
                <a href="resources/pages/date-a-live.html">
                    <img src="resources/img/date-a-live-capa.jpg" alt="Capa - Nagatoro">
                    <h1>Date A Live</h1>
                </a>
            </article>

            <!-- No Game no Life -->
            <article>
                <a href="resources/pages/no-game-no-life.html">
                    <img src="resources/img/no-game-no-life-capa.jpg" alt="Capa - Nagatoro">
                    <h1>No Game no Life</h1>
                </a>
            </article>

        </section>



    <footer class="rodape">
        <h2>Purchaseway Animes - 2022</h2>
        <h3>Todos os Direitos Reservados</h3>
    </footer>

    <script src="JS/index.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>