<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchaseway Animes</title>
    <link rel="stylesheet" href="css/index.css"
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="resources/img/Logo - Purchaseway Animes.png" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>
<body>

    <header class="cabecalho">
        <!-- Logo -->
        <a href="/">
            <div class="logo-oficial">Pw Animes</div>
        </a>
        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="#">Lista de Animes</a></li>
                <li><a href="#">Favoritos</a></li>
                <li><a href="#">Mangás</a></li>
                <li><a href="#">Calendário</a></li>
                <li><a href="#">Como Assistir?</a></li>
            </ul>
            <!-- Menu para versão Mobile -->
            <button class="abrir-menu">
                <div></div>
                <div></div>
                <div></div>
            </button>
        </nav>
    </header>

    <!-- Barra de Pesquisa -->
    <div class="barra-pesquisa">
        <input type="text">
    </div>

    <section class="lista-animes">

    </section>



    <footer class="rodape">
        <h2>Purchaseway Animes - 2022</h2>
        <h3>Todos os Direitos Reservados</h3>
    </footer>

    <script src="JS/index.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>