* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: #111111; */
  background: url('../resources/img/elaina-background.jpg') no-repeat center center/cover;
}
/* => Apenas a correção de um pequeno detalhe visual */
html {
  background-color: black;
}
/* Cabeçalho */

.cabecalho {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
a {
  text-decoration: none;
}
.cabecalho nav ul {
  list-style-type: none;
  display: flex;
}
.cabecalho nav .abrir-menu {
  display: none;
  background-color: #721ec0;
  width: 80px;
  height: 80px;
  border: none;
}
.cabecalho nav .abrir-menu div {
  background-color: white;
  width: 60px;
  height: 10px;
}
.cabecalho nav .abrir-menu:hover {
  box-shadow: 0 0 10px white; 
}
.cabecalho nav ul li a {
  transition: 200ms;
  text-decoration: none;
  color: white;
  padding: 12px;
  background-color: #721ec0;
  margin: 0 12px;
  border: 5px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border-radius: 15px;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black;
}
.cabecalho nav ul li a:hover {
  box-shadow: 0 0 10px white; 
}
/* Logo */
.logo-oficial {
  font-family: 'Press Start 2P', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black;
  font-size: 0.8em;
  border: 5px solid black;
  width: 100px;
  padding: 3px;
  height: 100px;
  border-radius: 50%;
  background-image: linear-gradient(210deg, #b642dd 0, #9339cb 25%, #7030b5 50%, #4d269f 75%, #291e8a 100%);
}
.logo-oficial:hover {
  box-shadow: 0 0 10px white; 
}

/* => Barra de Pesquisa */
.barra-pesquisa {
  width: 100%;
  background-color: rgba(34, 34, 34, 0.6);
  padding: 20px;
}
.barra-pesquisa input {
  transition: 200ms;
  background: #721ec0;
  border-radius: 10px;
  border: 0;
  padding: 15px 20px;
  width: 100%;
  border: 5px solid black;
  outline: none;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
}
.barra-pesquisa input::placeholder {
  color: white;
}
.barra-pesquisa input:focus {
  background: #501587;
}

/* => no-found */

.no-found.hidden {
  display: none;
}
.no-found {
  background-color: rgba(34, 34, 34, 0.6);
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.no-found .no-found-conteiner {
  animation: no-found-conteiner-entrance 500ms forwards;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: rgba(114, 30, 192, 0.6);
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;
  border: 5px solid #721ec0;
  border-radius: 10px;
  box-shadow: 0 0 40px #721ec0;
  padding: 20px;
}
@keyframes no-found-conteiner-entrance {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* => Background diferente */
.lista-animes {
  width: 100%;
  padding: 20px;
  background-color: rgba(34, 34, 34, 0.6);
  height: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

/* Cartões do catalógo */

.titulo-anime {
  color: white;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: #431370;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;
}
.sinopse-anime-T {
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;
  background-color: #431370d5;
}
.sinopse-anime {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 18px;
  padding: 20px;
  text-align: justify;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;
  background-color: rgba(0, 0, 0, 0.8);
}
.age-anime {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(43, 43, 43);
}
.age-anime img {
  width: 80px;
}
.ep-atual {
  color: white;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #e7b731;
}
.selected-episode {
  background-color: #721ec0;
  color: white;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  border: none;
  margin-top: 2px;
}
.lista-animes article {
  background-image: radial-gradient(circle at 12.5% 12.5%, #594a79 0, #3c3266 25%, #191a53 50%, #000040 75%, #000031 100%);
  border: 3px solid rgb(150, 150, 150);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px;
  box-shadow: 0 0 20px black;
  overflow: hidden;
}
/* => Modificações */
.lista-animes article a img {
  transition: 200ms;
  width: 95%;
  margin-top: 6px;
  margin-bottom: 6px;
  border-radius: 15px;
}
.lista-animes article:hover a img {
  transform: scale(1.1) translateY(-20px);
}
.lista-animes article h1 {
  color: yellow;
  font-size: 16px;
  width: 95%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-bottom: 6px;
}

.lista-animes article a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.conteiner {
  height: 400px;
  overflow-y: scroll;
}
.conteiner ul li .button {
  background-color: #222;
  color: white;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  border: none;
  margin-top: 2px;
}
/* Menu para versão Mobile */
.menuMobile {
  animation: menuMobileEntrace 500ms forwards;
  background-color: #222;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
@keyframes menuMobileEntrace {
  0%{
      transform: translateY(-100%);
  }
  100%{
      transform: translateY(0);
  }
}
.menuMobile .menuMobileFechar {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #f12323;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.menuMobile .menuMobileFechar ion-icon {
  font-size: 4em;
  color: white;
}


.menuMobile ul {
  list-style-type: none;
}
.menuMobile li {
  margin: 10px;
  justify-content: center;
  display: flex;
}
.menuMobile ul li a {
  transition: 200ms;
  text-decoration: none;
  color: white;
  padding: 14px;
  background-color: #721ec0;
  margin: 0px 12px;
  border: 5px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border-radius: 15px;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black;
}
.menuMobile ul li a:hover {
  box-shadow: 0 0 10px white; 
}

/* Navegar para tela de Cadastro */

.navegar-cadastro {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(34, 34, 34, 0.6);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 20px 0;
  flex-direction: column;
}
.navegar-cadastro-conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(114, 30, 192, 0.6);
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0 20px;

}
.navegar-cadastro .t1 {
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
}
.navegar-cadastro .t2 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 16px;
}
.navegar-cadastro .navegar-cadastro-conteiner a {
  transition: 200ms;
  background-color: #721ec0;
  font-size: 18px;
  border-radius: 10px;
  color: inherit;
  border: 5px solid black;
  text-decoration: none;
  padding: 20px;
}
.navegar-cadastro .navegar-cadastro-conteiner a:hover {
  box-shadow: 0 0 10px white; 
}


/* Footer - Rodapé */

.rodape {
  width: 100%;
  background-color: rgb(10, 10, 10);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
.rodape h2 {
  color: #e7b731;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 1px #000;
  font-size: 20px;
}
.rodape h3 {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 1px #000;
  font-size: 16px;
}

/* Media Queries AREA */

@media (max-width: 945px)
{
  .cabecalho nav ul li a {
      display: none;
  }
  .cabecalho nav .abrir-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding-top: 10px;
      padding-bottom: 10px;
      cursor: pointer;
  }
}


/* Catalógo responsivo */
@media (max-width: 1300px)
{
  .lista-animes {
      grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 800px)
{
  .lista-animes {
      grid-template-columns: repeat(2, 1fr);
  }
}